<%- include('../includes/head.ejs') %>

<h1 class="title">MOTOS</h1>
<div class="columns is-multiline">
    <% if(marcas && marcas.length > 0) {%>
        <% for(let marca of marcas){ %>
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img class="moto-image" src="<%= marca.imagen %>" alt="<%= marca.nombre %>">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="<%= marca.imagen %>" alt="<%= marca.nombre %>">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4"><%= marca.nombre %></p>
                                <p class="title is-4"><a href="/motos/<%= motos.id %>"><%= motos.nombre %></a></p>

                            </div>
                        </div>
                        <div class="content">
                            <%= marca.descripcion %>
                            <br>
                            <button class="button is-danger is-rounded" onclick='quitar("<%= marca.nombre %>")'>Quitar</button>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    <% } else { %>
        <h2>No hay MOTOS.</h2>
    <% } %>
</div>
Tiempo desde el último acceso: <%= tiempo_transcurrido %> segundos.
<%- include('../includes/foot.ejs') %>
