<%- include('../includes/head.ejs') %>

<h1 class="title">MOTOS</h1>
<div class="columns">
    <% if(marcas.length > 0) {%>
        <% for(let marca of marcas){ %>
            <div class="columns">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="<%= marcas.imagen %>" alt="<%= marcas.nombre %>">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="<%= marcas.imagen%>" alt="<%= marcas.nombre %>">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4"><%= marcas.nombre %></p>
                            </div>
                        </div>

                        <div class="content">
                            <%= marcas.descripcion %>
                            <br>
                            <button class="button is-danger is-rounded" onclick='quitar("<%= marcas.nombre %>")'>Quitar</button>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } else { %>
                    <h2>No hay MOTOS.</h2>
                <% } %>
                </div>
            </div>
        </section>
        <%- include('../includes/foot.ejs') %>
                